@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{

}
 nav{
  font-family:"Noto Sans", sans-serif;
  font-weight: 900;
  display: flex;
  font-size: 20px;
  background-color: rgb(227, 175, 233);
  padding: 23px;
  margin: 3px 0;
 }
.logo{
  font-size: large;
  display: flex;
  align-items: center;
  justify-self : center;
  
}
nav li a{
  text-decoration: none;
  color: black;
  transition: all;
  transition-duration: 500ms;
}
nav li a:hover{
  text-decoration: none;

}
 nav ul li{
  list-style: none;
  margin: 0 23px;
 }
 nav ul{
  display: flex;
 }
.container{
  min-height: 100vh;
  font-family: 'poppins' , sans-serif;

  width: 80vw;
  margin: auto  ;
  display: flex;
  justify-content: space-between;
}
.container h2{
  
}
.container form label{
  font-size: 20px;

}
.container form input[type='number'], select{
  width: 23vw;
   font-size: 25px;
   margin:23px 0;
}
.container form{
  display: flex;
  flex-direction: column;
}

.container .btn ,#Search{
  width: 144px;
  padding: 5px 8px;
  font-size: 15px;
  border-radius: 20px;
  background-color:rgb(227, 175, 233);
  color: rgb(12, 11, 11);
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  

}

button{
  width: 144px;
  padding: 5px 8px;
  font-size: 15px;
  border-radius: 20px;
  background-color:rgb(227, 175, 233);
  color: rgb(12, 11, 11);
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.output table{
  width: 50vw;
  text-align: center;
  border: 2px solid black;
}
.output  {
  
display: none;
overflow-y: auto;
height: 70vh;
min-width: 50vw;

}
#SearchCurrency{
  display: none;
}
.output table caption{
  text-align: left;
  font-weight: bold;
}
footer{
  text-align: center;
}